* {
  font-family: "Poppins", sans-serif;
}

section {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 300px;
  margin: 50px auto;
}

.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #00000029;
  border: 1px solid #000000;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.btn {
  padding: 0.375rem 0.75rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in;
  font-size: 1.2rem;
}
.btn:hover {
  box-shadow: 20px 20px 6px #00000029;
}
.btn:active,
.btn:focus {
  outline: none;
}
